@page
@model IndexModel
@{
    ViewData["Title"] = "Guide";
}

<article>
    <div class="text-center">
        <h1 class="display-4">Guide</h1>
        <p>This guide uses NPM for managing a package and webpack to build/pipe the SDK into the wwwroot. Which makes it
            available for our web application.</p>
    </div>

    <section>
        <h2>Install</h2>
    </section>

    <section>
        <h2>Include</h2>
        <p>Inject SDK into application</p>
    </section>

    <section>
        <h2>Example</h2>
        <p>Initialize SDK</p>
    </section>
</article>
