@page
@model IndexModel
@{
    ViewData["Title"] = "Guide";
}

<article>
    <div class="text-center">
        <h1 class="display-4">Guide</h1>
    </div>

    <section>
        <h2>Install SDK</h2>
        <p>Installation guide</p>
    </section>

    <section>
        <h2>Include SDK</h2>
        <p>Inject SDK into application</p>
    </section>

    <section>
        <h2>Initialize SDK</h2>
        <p>Initialize SDK</p>
    </section>
</article>
