@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a asp-page="/Guide">using Mini-app SDK</a> with ASP .NET Core.</p>
</div>
